<!DOCTYPE html>
<html lang="en">
<head>
	<title>Toko Perkakas</title>
</head>
<body>
	<h1>{{judul}}</h1>
	<h2>{{info}}</h2>
	<h3 align="center">by : {{oleh}} </h3>
	{% block content %}
	{% endblock %}
</body>
</html>